<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1037533910227905"
     crossorigin="anonymous"></script>
<script type='text/javascript' src='//pl23631181.highrevenuenetwork.com/00/a6/f9/00a6f92b9ce5480c4ffb64838214ec39.js'></script>
<script async="async" data-cfasync="false" src="//pl23631193.highrevenuenetwork.com/81eb0e1ced158b51ca0f869e7bbd529a/invoke.js"></script>
<script type='text/javascript' src='//pl23631233.highrevenuenetwork.com/e2/ec/8e/e2ec8e2e1397623cbbdb418685d67998.js'></script>
